body{
    width: 100%;
    height: 100%;
    background-color:rgb(230, 243, 238);
}

div{
    display: inline-block;
}

.logo{
    
    display: block;
    position: relative;
    width: 100%;
    margin-bottom: 1em;

    
}
.logo img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.graficos{
    border: 10px;
    display: block;
   
}

.graficos iframe{
    padding: 0.2em;
    border: 1px;
    border:solid #cccccc;
    background-color: aquamarine;
    
}
.PA{
    width: 28em;
    height: 45vh;
}

.PB{
    width: 28em;
    height: 45vh;
}

.PC{
    width: 28em;
    height: 45vh;
}
.graficos div {
    padding: 0.3em;
}
img{
    width: 200px;
    height: 200px;
}