body{
    width: 100%;
    height: 100%;
    background-color:rgb(184, 245, 224) ;
}
.corrente{
    border: 1px;
    border:solid #cccccc;
    background-color: aquamarine;
}

div{
    display: inline-block;
}

.logo{
    margin-left: 50%;
    padding: 20px;
    width: 100%;
    align-items: center;
    
}

.graficos{
    border: 10px;
    display: block;
   
}

.graficos iframe{
    padding: 0.2em;
}


img{
    width: 200px;
    height: 200px;
}